* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    top: 0px;
    font-size: 3rem;
    text-align: center;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(121, 61, 139);
    font-size: 3rem;
    text-align: center;
}

.button {
    font-size: 3rem;
    height: 100%;
    color: black;
    background-color: rgb(104, 60, 187);
    border: none;
    float: left;
    cursor: pointer;
    transition-duration: 200ms;
    width: 50%;
}
.button:hover{
    background-color: rgb(113, 74, 187);
    color: white;
}
.button:active {
    background-color: rgb(129, 92, 197);
}

#button1 {
    background-color: rgb(255, 0, 0);
}
#button1:hover {
    background-color: rgb(255, 0, 100);
}
#button1:active {
    background-color: rgb(255, 0, 200);
}

#button2 {
    background-color: rgb(0, 0, 255);
}
#button2:hover {
    background-color: rgb(100, 0, 255);
}
#button2:active {
    background-color: rgb(2000, 0, 255);
}