* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

body {
    background-color: black;
    color: white;
    height: 100%;
    top: 0;
    left: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

#clock {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 2%;
    left: 92.5%;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    top: 0px;
    height: 20%;
    font-size: 3rem;
    text-align: center;
}

.big-question-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(72, 61, 139, 100);
}

.big-question-button {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    align-items: none;
    justify-content: none;
}
.big-question-button span {
    position: fixed;
    font-size: 2rem;
    top: 80%;
    left: 43%;
}

.question-big {
    font-size: 5rem;
}

.question-text {
    margin: 1%;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(121, 61, 139);
    font-size: 3rem;
    text-align: center;
}

.button {
    font-size: 3rem;
    height: 100%;
    color: black;
    background-color: rgb(104, 60, 187);
    border: none;
    float: left;
    cursor: pointer;
    transition-duration: 200ms;
    width: 50%;
}
.button span {
    margin: 1%;
}
.button:hover{
    background-color: rgb(113, 74, 187);
    color: white;
}
.button:active {
    background-color: rgb(129, 92, 197);
}

#button1 {
    background-color: rgb(255, 0, 0);
}
#button1:hover {
    background-color: rgb(255, 0, 100);
}
#button1:active {
    background-color: rgb(255, 0, 200);
}

#button2 {
    background-color: rgb(0, 0, 255);
}
#button2:hover {
    background-color: rgb(100, 0, 255);
}
#button2:active {
    background-color: rgb(2000, 0, 255);
}